{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if attributes.id == 'edit-submit-search' %}
  <button{{ attributes }} ><i class="material-icons">search</i></button>{{ children }}
{% else %}
  <input{{ attributes }} />{{ children }}
{% endif %}
