@charset "UTF-8";

@import "breakpoint";

@import "../../contrib/material_base/sass/reset";
@import "../../contrib/material_base/sass/color-palette";
@import "variables";
@import "../../contrib/material_base/sass/variables";
@import "../../contrib/material_base/sass/modules";
@import "fonts";

.material-icons, .icon-left:before, .icon-right:after { font-family: 'Material Icons', 'Material Icons Local'; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout */
html, body, #page, #navbar { min-width: 320px; }
.card-holder { margin-top: 0; }

.tooltip.tooltip-no-br:before { white-space: nowrap; }

#actions { z-index: 10; position: relative; }
#block-share-toggle { position: fixed; bottom: 24px; right: 16px;
  .share-list { display: none; position: absolute; right: 8px; bottom: 72px;
    //.tooltip:before { bottom: auto; left: auto; margin-left: 0; right: calc(100% + 16px); margin-top: -4px; display: inline-block; width: auto; }
    //.fab {  }
    .twitter { background: #1da1f2; }
    .facebook { background: #3B5998; }
    .google-plus { background: #dd4b39; }
    .vk { background: #507299; }
    .email { background: color($color-primary-base, 700); }
  }
  &:hover .share-list,
  &:focus .share-list,
  &:active .share-list { display: block; }
}
#share-toggle-fab { position: absolute; right: 0; bottom: 0;
  .fab { background: $color-bg-card; color: $color-text; }
}

/* common styles */
#content { position: relative; }

.layout-map { padding-top: 0 !important;
  &.adminimal-admin-toolbar.toolbar-fixed.toolbar-vertical { padding-top: 0 !important; }
  #header { display: none; } // this layout don't use header
  #content { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden; }
  #footer { position: fixed; bottom: 0; left: 0; right: 0; }
  #main { position: fixed; overflow: auto; overflow-x: hidden; left: 0; top: 0; bottom: 0; right: 0; width: 100%; background: $color-bg;
    margin-left: -100%; transition: margin .2s;
  }
  &.main-content-open #main { margin-left: 0; }
  &.theme-dark #main { background: $color-bg-dark; }
  #main-content-toggle { display: none; }
  #actions { z-index: 11; }
  #main-content-toggle-fab { position: fixed; bottom: 24px; right: 16px;
    a { color: $color-text-light; }
    a:before { transition: transform 0.5s ease; }
  }
  &.main-content-open #main-content-toggle-fab { 
    a:before { content: "map"; transform: rotate(180deg); }
  }

  #block-share-toggle { position: fixed; bottom: 96px; right: 16px; }
  //drupal fix
  #drupal-live-announce { height: 0; }
  @include breakpoint($md) {
    #main { width: 408px; right: auto; @include z-level-2; font-size: 14px; margin-left: -408px;
      &::-webkit-scrollbar { width: 6px; position: absolute; }
      &::-webkit-scrollbar-button { display: none; }
      &::-webkit-scrollbar-track-piece { background: #333; }
      &::-webkit-scrollbar-thumb { background: #222; }
      & {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-width: 6px;
        scrollbar-color: #222 #333;
      }
      &.container { padding: 0 16px; }
    }
    &.main-content-open #main { margin-left: 0; }
    #main-content-toggle { display: block; width: 24px; height: 48px; position: absolute; left: 408px; top: 50%; margin-top: -24px; background: $color-accent; @include z-level-2;
      border-top-right-radius: 2px; border-bottom-right-radius: 2px; margin-left: -408px; transition: margin .2s;
      a { display: block; width: 24px; height: 48px; padding: 12px 0; color: $color-text-light; }
      i { transition: transform 0.5s ease; }
    }
    &.main-content-open #main-content-toggle { margin-left: 0;
      i { transform: rotate(180deg); }
    }
  }
  .region-content { padding-top: 64px; }
}

h1, .h1 { font-size: 24px; line-height: 32px; margin-top: 16px; margin-bottom: 8px; }
h2, .h2 { font-size: 20px; line-height: 30px; font-weight: normal; margin-top: 16px; margin-bottom: 8px; }
h3, .h3 { font-size: 18px; line-height: 30px; font-weight: 500; margin-top: 16px; margin-bottom: 8px; }
h4, .h4 { font-size: 16px; line-height: 28px; font-weight: 500; margin-top: 16px; margin-bottom: 8px; }
h5, .h5 { font-size: 14px; line-height: 28px; font-weight: 700; margin-top: 16px; margin-bottom: 8px; }
h6, .h6 { font-size: 12px; line-height: 24px; font-weight: 700; margin-top: 16px; margin-bottom: 8px; }

h1, .h1, h2, .h2 {
  & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 { margin-top: -4px; }
}

/* additional helpers */

.mt-m20 { margin-top: -20px !important; }
.pt-36 { padding-top: 36px !important; }

/* maps */
#gmap-msk, #gmap-spb { width: 100%; height: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; color: $color-text; }

.gm-style-mtc { margin: 8px !important; top: 4px + 52px !important; right: 0 !important;
  div[role="button"] { padding-top: 10px !important; padding-bottom: 10px !important; line-height: 20px !important; }
}
.gm-bundled-control { right: 38px !important; }
@include breakpoint(536px) {
  .gm-style-mtc { top: 4px !important; }
}
@include breakpoint($md) {
  .gm-style-mtc { right: 112px !important; }
}

#navbar { position: relative; padding: 8px; }
#block-navbar-menu-toggle { z-index: 16; margin: 0; position: absolute; left: 8px; }
#navbar-menu-toggle { margin: 0;
  a { width: 56px; padding: 12px 16px; }
  .navbar-icon { color: $color-text; }
}

/* search */
.block-search-combo { width: 100%; position: relative; z-index: 15; max-width: $search; margin: 0;
  form { display: block; width: 100%; max-width: $search; height: 48px; padding: 0;
    .form-item { margin: 0; background: #FFF; border-radius: 2px; transition: box-shadow .2s; position: relative; display: block; @extend .z-level-1;
      input[type="text"] { background: none; margin: 0; padding: 4px 68px; height: 48px; line-height: 40px; border: 0; color: $color-text;
        &::placeholder { color: $color-text-disabled; }
      }
    }
    .form-item.focused { @extend .z-level-2; }
    .form-actions { position: absolute; top: 0; right: 0;
      button { appearance: none; width: 56px; height: 48px; background: none; border: 0; margin: 0; padding: 12px 16px; line-height: 24px; display: block; outline: none; }
    }
  }
}

.ui-autocomplete.ui-widget.ui-widget-content {
  .ui-menu-item a { padding: 8px 68px 8px 68px; }
}

/* navbar metro menu */
#block-navbar-metro { position: relative; margin-right: 4px; display: none; }
#navbar-metro-menu-toggle {
  a { display: block; height: 48px; width: 48px; padding: 8px; }
  .navbar-icon { width: 32px; height: 32px; margin: 0; display: block; background: url(../img/graphic.svg) no-repeat; background-size: auto 32px; }
  .root-spb & .navbar-icon, .path-spb & .navbar-icon { background-position: -32px 0; }
}
#navbar-metro-menu { right: 8px; margin-top: 8px; width: 206px;
  a { padding-left: 72px; position: relative;
    &:before { content: " "; display: block; height: 40px; width: 40px; position: absolute; top: 50%; margin-top: -20px; left: 16px;
      background: url(../img/graphic.svg) no-repeat; background-size: auto 40px; }
  }
  a[href="/spb"] {
    &:before { background-position: -40px 0; }
  } 
}
@include breakpoint($md) {
  #block-navbar-metro { display: block; }
}

/* navbar share menu */
#block-navbar-share { position: relative; margin-left: -12px; margin-right: -12px; display: none; }
#navbar-share-toggle {  }
#navbar-share-menu { right: 8px; margin-top: 8px;
  .share-item { position: relative; padding: 16px 16px 16px 72px; }
  .share-icon { position: absolute; display: inline-block; width: 40px; height: 40px; padding: 8px; border-radius: 50%; left: 16px; top: 8px; }
  .services-icon, .material-icon { display: inline-block; }
  .icon-light { color: $color-text-light; }
  .twitter { background: #1da1f2; }
  .facebook { background: #3B5998; }
  .google-plus { background: #dd4b39; }
  .vk { background: #507299; }
  .email { background: color($color-primary-base, 700); }
}
@include breakpoint($md) {
  #block-navbar-share { display: block; }
}

/* footer */
.layout-map #block-footer-credits { display: none; }

.d-logo { display: flex; align-items: center;
  span { margin-right: 8px; }
  a { display: block; width: 100px; height: 18px; background: url(../img/graphic.svg) -36px 0 no-repeat; background-size: auto 18px;
    span { display: none; }
  }
}

@include breakpoint($md) {
  .layout-map #block-footer-credits { display: block; }
}

/* drawer */
#drawer-title {
  a { display: inline-block; width: 102px; height: 24px; background: url(../img/graphic.svg) -184px 0 no-repeat; background-size: auto 24px;
    span { display: none; }
  }
}

#block-drewer-menu-metro { position: relative; height: 128px; background: $color-primary;
  .menu li {
    a { position: absolute;
      &:hover { background: none !important; }
    }
    a { padding-top: 56px; padding-bottom: 8px;
      &:before { content: " "; display: block; height: 40px; width: 40px; position: absolute; top: 8px;
        background: url(../img/graphic.svg) no-repeat; background-size: auto 40px; }
    }
    a[href="/spb"] {
      &:before { background-position: -40px 0; }
    }
    body:not(.root-spb):not(.path-spb) & a[href="/spb"] { right: 24px; height: 32px; width: 32px; overflow: hidden; padding: 0; top: 16px; z-index: 10; color: transparent;
      &:before { height: 32px; width: 32px; top: 0; background: url(../img/graphic.svg) -32px 0 no-repeat; background-size: auto 32px; }
    }
    .root-spb & a[href="/msk"], .path-spb & a[href="/msk"] { right: 24px; height: 32px; width: 32px; overflow: hidden; padding: 0; top: 16px; z-index: 10; color: transparent;
      &:before { height: 32px; width: 32px; top: 0; background: url(../img/graphic.svg) 0 0 no-repeat; background-size: auto 32px; }
    }
  }
}

// Messages improvementst
.messages-wrapper {
  position: fixed;
  bottom: 8px;
  left: 16px;
  right: 16px;
  z-index: 20;

  @include breakpoint($xs) {
    left: 24px;
    right: 24px;
  }
}

.messages-status,
.messages-warning,
.messages-error {
  padding-right: 56px;
  max-width: 944px;

  .messages-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 48px;
    height: 48px;
    padding: 12px;
    cursor: pointer;
  }
}

/* page styles */
#block-node-image,
.article-image { margin: 0 -24px;
  .img-responsive  { margin-top: -88px; width: 100%; }
  .img-responsive-wrapper img { margin-top: -88px; width: 100%; height: auto; max-width: 100%; }
}

.navigation-secondary { margin-top: 8px;
  .nav-prev { width: 50%; float: left; padding-right: 8px;
    a { padding-left: 24px;  position: relative; display: block; word-wrap: break-word;
      &:before { @extend .material-icons; content: "chevron_left"; font-size: 16px; position: absolute; left: 0; top: 2px; }
    }
  }
  .nav-next { width: 50%; float: right; text-align: right; padding-left: 8px;
    a { padding-right: 24px; position: relative; display: block; word-wrap: break-word;
      &:after { @extend .material-icons; content: "chevron_right"; font-size: 16px; position: absolute; right: 0; top: 2px; }
    }
  }
  .nav-parent {
    a { padding-left: 24px; position: relative; display: block;
      &:before { @extend .material-icons; content: "keyboard_arrow_up"; font-size: 16px; position: absolute; left: 0; top: 2px; }
    }
  }
}

.navigation-secondary + .article-title {
  h1 { margin-top: 8px; }
  .line-label { margin-top: 14px; }
} 

.line-group {
  .field { display: inline; }
  .field-name-field-line .field-item:after { content: ","; }
}

.field-label-inline > {
  .field-label:after { content: ":"; }
  .field-items > .field-item:not(:last-child):after { content: ","; }
}
.field-label-above > {
  .field-label:after { content: ":"; }
}
// to remove
.field-collection-item--name-field-former-line,
.field-collection-item--name-field-former-name {
  .field-name-field-former-name, .field-name-field-line { display: inline; }
  .field-name-field-date-before { color: $color-text-light-secondary; display: inline-flex;
    &:before { content: "("; }
    &:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase;
      &:after { content: "\00A0"; }
    }
  }
}
// end of

.field-name-field-ex-line,
.field-name-field-ex-name {
  .field-name-field-title, .field-name-field-line { display: inline; }
  .field-name-field-date-until, .field-name-field-date-until-text { color: $color-text-light-secondary; display: inline-flex;
    &:before { content: "("; }
    &:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase;
      &:after { content: "\00A0"; }
    }
  }
}

.field-name-field-serviced-lines {
  .field-name-field-line { display: inline; }
  .field-name-field-date-since { color: $color-text-light-secondary; display: inline-flex;
    &:before { content: "("; }
    &:last-child:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase;
      &:after { content: "\00A0"; }
    }
  }
  .field-name-field-date-until { color: $color-text-light-secondary; display: inline-flex;
    &:after { content: ")"; }
    .field-label { font-weight: normal; text-transform: lowercase;
      &:after { content: "\00A0"; }
    }
  }
}

.article-subheading { margin-bottom: 24px; }
.article-section { margin: 0 -16px; padding: 24px 16px; border-top: 1px solid #484848; } // $color-light-divider w-o transparency
.article-images { margin: 0 -16px; padding: 24px 3px; border-top: 1px solid $color-light-divider; display: flex; flex-wrap: wrap;
  .field-item { margin: 3px; width: 128px; height: 86px; }
}
.article-list { margin: 0 -16px -1px; padding: 0 16px; border-top: 1px solid #484848; // $color-light-divider w-o transparency
  li:not(:last-child) { margin-bottom: 4px; }
  .field-name-field-transfer, .field-name-field-ground-transfer { display: inline;
    * { display: inline; }
    .field-label { font-weight: normal; text-transform: lowercase; }
    .field-item:not(:last-child):after { content: ","; }
  }
  .field-name-field-transfer:not(:last-child) {
    .field-item:last-child:after { content: ","; }
  }
  .item-list {
    .views-field-title { margin-right: 4px; }
  }
}

.line-depots { color: $color-text-light-secondary;
  * { display: inline; }
}

.field-name-field-image {
  img { @extend .img-responsive; }
}
.field-name-field-scheme {
  a { display: flex; justify-content: center; align-items: center; width: 128px; height: 86px; background: #FFF; }
  img { flex: 1; max-width: 100%; max-height: 100%; } 
}
img.pswp__img[src $='.svg'] { background: #FFF; }

article .field-name-body:not(:first-child) { margin-top: 12px; }

.table-list tbody tr { cursor: pointer; }

@include breakpoint($md) {
  .article-images { width: 408px; }
}

@include breakpoint(max-width $max-xs) {
  .table-responsive-wrapper { margin-left: -16px; margin-right: -16px; border-bottom: 1px solid $color-light-divider; box-shadow: none; border-radius: 0; }
}

@include breakpoint(max-width $max-md) {
  .table-list { margin-top: 0; margin-bottom: 0;
    thead { display: none; }
    tr { display: block; padding: 12px 16px; }
    td { display: block; padding: 0; }
  }
  .view-stations, .view-depots, .view-bridges { 
    .views-field-field-date-open { display: none; }
  }
  .view-depots { 
    .views-field-field-subtitle { min-height: 24px; }
  }
  .view-statistics {
    tr { position: relative; padding-right: 56px; }
    .views-field-title { min-height: 48px; }
    .views-field-nid { position: absolute; top: 16px; right: 16px; }
  }
}
@include breakpoint($xs $max-md) {
  .table-list {
    tr { display: block; padding: 12px 24px; }
  }
  //.table-responsive-wrapper { margin-left: -24px; margin-right: -24px; }
  .view-statistics {
    tr { padding-right: 64px; }
    .views-field-nid { right: 24px; }
  }
}

.card-results {
  .card-result { padding: 12px 16px; cursor: pointer;
    &:hover { background: $color-bg-dark-hover; }
  }
  .card-item:not(:last-child) { border-bottom: 1px solid $color-light-divider; }
}

@include breakpoint($xs) {
  .table-responsive-wrapper, .table-list { border-radius: 2px; }
  .card-results .card-result { padding: 12px 24px; }
  .card-results .card-result:first-child, .card-results .contextual + .card-result { border-top-left-radius: 2px; border-top-right-radius: 2px; }
}

@include breakpoint($sm) {
  .card-main.card-results { margin-top: 16px; margin-bottom: 16px; }
}

@include breakpoint($md) {
  .view-statistics .views-field-nid { width: 240px; }
}

.title-with-label { white-space: nowrap; }

.line-label { display: inline-block !important; border-radius: 50%; width: 18px; height: 18px; font-size: 12px; font-weight: 500; color: #FFF; position: relative; margin-bottom: -4px;
  &.line-msk-1 { background: #ee3124; }
  &.line-msk-2 { background: #37b159; }
  &.line-msk-3 { background: #0078bf; }
  &.line-msk-4 { background: #3fc1f3; }
  &.line-msk-5 { background: #9c563e; }
  &.line-msk-6 { background: #f58231; }
  &.line-msk-7 { background: #8e479b; }
  &.line-msk-8 { background: #ffcc32; color: #000; }
  &.line-msk-9 { background: #a1a2a3; }
  &.line-msk-10 { background: #b4d445; font-size: 11px;
    &:before { height: 12px; line-height: 13px; padding: 3px 0; }
  }
  &.line-msk-11 { background: #79cdcd; font-size: 9px; } // Kahovskaya
  &.line-msk-111 { background: #79cdcd; font-size: 11px; // background: #000000;
    &:before { height: 12px; line-height: 13px; padding: 3px 0; }
  } // TPK
  &.line-msk-12 { background: #acbfe3; font-size: 11px;
    &:before { height: 12px; line-height: 13px; padding: 3px 0; }
  }
  &.line-msk-14 { background: #FFFFFF; color: #000; font-size: 10px; border: 1px solid #ee3124;
    &:before { width: 16px; height: 12px; line-height: 13px; }
  }
  &.line-msk-15 { background: #de64a1; font-size: 11px;
    &:before { height: 12px; line-height: 13px; padding: 3px 0; }
  }
  &.line-msk-16 { background: #cccccc; color: #000; font-size: 11px;
    &:before { height: 12px; line-height: 13px; padding: 3px 0; }
  }
  
  &.line-spb-1 { background: #ef4136; }
  &.line-spb-2 { background: #1b75bc; }
  &.line-spb-3 { background: #39b54a; }
  &.line-spb-4 { background: #fbb040; }
  &.line-spb-5 { background: #7f3f98; }
  &.line-spb-6 { background: #8d5b2d; }
  &:before { content: attr(data-label); position: absolute; width: 18px; height: 14px; line-height: 14px; text-align: center; padding: 2px 0; }
  &.line-msk-21,
  &.line-msk-22 { width: 22px;
    &:before { z-index: 2; width: 22px; }
    &:after { position: absolute; z-index: 1; display: block; content: ''; width: 22px; height: 14px; left: 50%; top: 50%; margin-left: -11px; margin-top: -7px; transform: skew(-20deg); border-radius: 1px; }
  }
  &.line-msk-21 {
    &:after { background: #f7a600; }
  }
  &.line-msk-22 {
    &:after { background: #e94282; }
  }
}

.article-title { display: flex; justify-content: space-between;
  .line-label { width: 24px; height: 24px; font-size: 16px; margin-left: 12px; margin-top: 22px; margin-bottom: 0; flex: 0 0 24px;
    &.line-msk-10 { font-size: 13px; }
    &.line-msk-11 { font-size: 11px;
      &:before { height: 12px; line-height: 13px; padding: 6px 2px; }
    }
    &.line-msk-111 { font-size: 13px; }
    &.line-msk-12 { font-size: 13px; }
    &.line-msk-14 { font-size: 12px; border: 1px solid #ee3124;
      &:before { width: 18px; height: 18px; border-radius: 50%; border: 1px solid #ee3124; top: 1px; left: 1px; line-height: 18px; padding: 0; }
    }
    &.line-msk-15 { font-size: 13px; }
    &.line-msk-16 { font-size: 13px; }
    //&:before { width: 24px; height: 24px;  }
    &:before { width: 20px; height: 16px; line-height: 15px; padding: 4px 2px; }
    &.line-msk-21,
    &.line-msk-22 { width: 28px; flex: 0 0 auto;
      &:before { width: 24px; }
      &:after { width: 28px; height: 18px; margin-left: -14px; margin-top: -9px; }
    }
  }
}

.stage-date { color: $color-text-light-secondary;
  div { display: inline; }
  time:after, .field-name-field-expected-open:after { content: ":"; }
}

/* tmp */
.region-before-main .contextual-region { position: static; }

.toolbar-vertical {
  .gm-style-mtc { top: 4px + 39px + 52px !important; }
  &.layout-map .region-content { padding-top: 64px + 39px; }
}
.toolbar-horizontal {
  .gm-style-mtc { top: 4px + 39px + 52px !important; }
  &.layout-map .region-content { padding-top: 64px + 39px; }
  &.toolbar-tray-open {
    .gm-style-mtc { top: 4px + 79px + 52px !important; }
    &.layout-map .region-content { padding-top: 64px + 79px; }
  }
  &.toolbar-tray-open.admin-toolbar {
    .gm-style-mtc { top: 4px + 80px + 52px !important; }
    &.layout-map .region-content { padding-top: 64px + 80px; }
  }
  &.toolbar-tray-open.admin-toolbar.adminimal-admin-toolbar {
    .gm-style-mtc { top: 4px + 79px + 52px !important; }
    &.layout-map .region-content { padding-top: 64px + 79px; }
  }
}

@include breakpoint(536px) {
  .toolbar-vertical {
    .gm-style-mtc { top: 4px + 39px !important; }
  }
  .toolbar-horizontal {
    .gm-style-mtc { top: 4px + 39px !important; }
    &.toolbar-tray-open {
      .gm-style-mtc { top: 4px + 79px !important; }
    }
    &.toolbar-tray-open.admin-toolbar {
      .gm-style-mtc { top: 4px + 80px !important; }
    }
    &.toolbar-tray-open.admin-toolbar.adminimal-admin-toolbar {
      .gm-style-mtc { top: 4px + 79px !important; }
    }
  }
}

.contextual + .card-item { margin-top: -24px; }
.card-main {
  .contextual + .card-item { margin-top: -$gutter / 1.5; }
}
@include breakpoint($xs) {
  .card-main { 
    .contextual + .card-item { margin-top: -24px; }
  }
}

.pswp__caption__center { text-align: center; }
