{% set metro = node.field_metro.entity.field_machine_name.value %}

<article{{ attributes }}>

  {{ title_prefix }}

  <div class="navigation-secondary">
    <div class="nav-parent"><a href="/{{ metro }}/lines">{{ 'Lines'|t }}</a></div>
  </div>

  <div class="article-title">
    <h1{{ title_attributes }}>{{ content.field_display_title|without('#theme') }}</h1>
  </div>

  {{ title_suffix }}

  <div class="article-subheading">
    {{ content.field_short_title }}
    {{ content.field_subtitle }}
    {{ content.field_metro }}
    {{ content.field_date_open }}
    {{ content.field_temporary_close }}
    {{ content.field_date_close }}
    {{ content.field_expected_open }}
    {{ content.field_ex_name }}

    {% if not node.field_status.isEmpty %}
      <div class="field field-name-field-status field-type-entity-reference field-label-inline">
        <div class="field-label">{{ node.field_status.fieldDefinition.label }}</div>
        <div class="field-item"><a href="/{{ metro ~ '/statistics/' ~ node.field_status.entity.field_machine_name.value }}" property="schema:additionalProperty" hreflang="ru">{{ node.field_status.entity.label }}</a></div>
      </div>
    {% endif %}

  </div>

  <div class="article-list">
    {{ drupal_view('line_stations', 'block') }}
  </div>
  
  <div class="article-list">
    {{ drupal_view('line_depots', 'block') }}
  </div>

  <div class="article-list">
    {{ drupal_view('line_bridges', 'block') }}
  </div>

  <div class="article-list">
    {{ drupal_view('line_stages', 'block') }}
  </div>

  <div{{ content_attributes.addClass('article-section') }}>
    {{ content|without('field_display_title', 'field_short_title', 'field_subtitle', 'field_metro', 'field_date_open', 'field_temporary_close', 'field_date_close', 'field_expected_open', 'field_image', 'field_scheme', 'field_ex_name', 'field_status') }}
  </div>

</article>
